<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Book</title>
</head>
<body>
    <h2> Add a BOok</h2>
    <form method="post" action="{{ url_for('add_book') }}">

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required>
        
        <label for="publication_year">Publication Year:</label>
        <input type="text" id="publication_year" name="publication_year" required>
        
        <button type="submit">Add Book</button>
        
    </form>
    <a href="{{ url_for('books') }}">Back to Books</a>
</body>
</html>